h2 Unfollowers
= link_to user_path(current_user), class: 'close'
  |  &times;
.list-unfollowers
  = render partial: 'unfollowers'

- if @unfollowers.total_entries > WillPaginate.per_page 
	#loadmore
	  a.btn.btn-secondary Load More

javascript:
  window.finished = false;
  var page = 1;

  $('#loadmore').click(function(e) {
    page++;
    var request= $.ajax({
      url: "loadmore?page=" + page,
      type: 'get',
      dataType: 'script'
    });
  });			