default: &default
  adapter: postgresql
  pool: 25
  timeout: 5000

development:
  <<: *default
  database: tuns_development

test:
  <<: *default
  database: tuns_test

production:
  <<: *default
  database: tuns_production
