@import bootstrap-sprockets
@import bootstrap
@import font-awesome
@import button

html
  position: relative
  min-height: 100%

body
  font-family: 'Lato', sans-seri
  font-size: 17px
  background: #f0f0f0
  margin: 0 0 2em 0
  line-height: 1.6
  
body
  margin-bottom: 40px

  .container
    .wrapper
      margin: 1em auto 1em auto
    .page-wrapper
      margin: 3em auto 3em auto
    section
      text-align: center
.top
  margin-top: 2em
  .inner
    h1
      font-size: 3em
    p
      font-size: 1.2em

a 
  color: #3FAEEB

a:hover
  text-decoration: none


input[type="search"],
input[type="text"],
input[type="password"] 
  display: block
  height: 40px
  width: 100%
  padding: 0
  border-radius: 2px
  outline: none
  box-sizing: border-box
  -webkit-appearance: none
  font-size: 16px
  text-indent: 10px
  font-weight: 400
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  vertical-align: bottom
  position: relative

input[type="search"]:focus,
input[type="text"]:focus,
input[type="password"]:focus 
  border-color: #CACACA


textarea 
  resize: none !important
  display: block
  width: 100%
  border-radius: 2px
  outline: none
  padding: 10px !important
  box-sizing: border-box
  -webkit-appearance: none
  resize: vertical
  font-size: 16px !important
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  margin: 0 auto


textarea:focus 
  border-color: #CACACA


textarea.url::-webkit-input-placeholder 
  color: #000


textarea.url:-moz-placeholder 
  color: #000


textarea.url:-ms-input-placeholder 
  color: #000


\::-webkit-input-placeholder 
  color: #A0A0A0
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


\:-moz-placeholder 
  color: #A0A0A0
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


\\:-ms-input-placeholder 
  color: #A0A0A0
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.alert-box
  position: fixed
  top: 0
  right: 0
  left: 0
  text-align: center
  z-index: 99
  width: 100%


  .alert
    border-radius: 0

.center
  height: 200px
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  margin: auto

.no-border-radius
  border-radius: 0

.footer 
  position: absolute
  bottom: 0
  width: 100%
  /* Set the fixed height of the footer here */
  height: 40px
  text-align: center

.land-image 
  text-align: center
  margin: 20px auto

.close 
  font-size: 30px !important
  position: fixed
  top: 15px
  right: 15px
  color: #444
  opacity: 1
  font-weight: 200

.text 
  margin-top: 10px
  color: #3FAEEB

.user-box
  background: #fff 
  margin: 50px auto 20px auto
  text-align: center
  padding: 25px
  border: 1px solid #e9e9e9

  .user-info
    margin-bottom: 40px
  
    h2
      margin: 0
      
.unfollower
  position: relative
  background: #fff
  padding: 15px
  -webkit-transition: all .3s ease
  -moz-transition: all .3s ease
  transition: all .3s ease
  height: 190px
  margin-bottom: 20px

  h3 
    color: #444
    margin: 0 0
    font-size: 1.3em

  span 
    font-size: 0.9em

  .description
    margin-top: 10px
    color: #555
    font-size: 0.75em
  
  .date
    font-size: 0.8em
    position: absolute
    right: 15px
    bottom: 15px

  .profile_img
    position: absolute
    right: 15px
    top: 15px
    width: 48px
    height: 48px

.unfollower:hover
  background: #fbfbfb

.pace 
  -webkit-pointer-events: none
  pointer-events: none
  -webkit-user-select: none
  -moz-user-select: none
  user-select: none

.pace-inactive 
  display: none

.pace .pace-progress 
  background: #29d
  position: fixed
  z-index: 2000
  top: 0
  right: 100%
  width: 100%
  height: 2px

#loadmore
  cursor: pointer
  z-index: 999
  color: #aaa
  font-size: 20px
  text-align: center
  margin-top: 5px

.navbar-default
  background: none
  padding: 8px 0
  border: 0
  border-bottom: 1px solid #f5f5f5
  margin-bottom: 10px

.navbar-brand
  font-weight: 300
  letter-spacing: 1px
  color: #3FAEEB !important

.nav.navbar-nav.navbar-right
  margin-right: -25px

.modal
  margin-top: 100px

.modal-content
  background: #f9f9f9
  border-radius: 0
  
  .modal-title
    font-weight: bold

  .modal-header
    border: 0
    
  .modal-footer
    border: 0

.ph
  position: fixed
  right: 15px
  bottom: 15px